


html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;

    background: lightblue;
}


#bottomTray {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: gray;
    padding: 24px;

    bottom: 1em;
    right: 1em;

    border-radius: 16px;
    box-shadow: 2px 2px 2px;
}

#bottomTray h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: lighter;
    font-size: 20pt;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    display: inline-block;
    width: 45px;
    height: 45px;

    border-radius: 16px;
    

    display: flex;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    margin: 5px 3px;

    box-shadow: 0px 0px 2px black;
    transition: box-shadow 0.2s;
}
.box:hover {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.box i {
    display: block;
    margin: auto; /* Important */ 
    text-align: center; 
    color: lightskyblue;
}

input[type="color"] {
	-webkit-appearance: none;
    border: none;
    padding: 0;
    border-radius: 16px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 16px;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 16px;
}

/* Color Scheme: 
    http://paletton.com/#uid=c002P0u3i0ky3GMkcLrp+IlGdtTHlnc
 */
.box.red {
    background: #EE0000;
}
.box.orange {
    background: #EE6C00;
}
.box.blue {
    background: #008F8F;
}
.box.green {
    background: #00BF00;
}
.box.white {
    background: #FFF;
}
.box.purple {
    background: rgb(115, 0, 172);
}
.box.button {
    background: darkslategrey;
}

dialog[open] {
    animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}
dialog::backdrop {
    background: black;
}
dialog.actions {
    display: flex;
    justify-content: space-around;
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}