


html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#bottomTray {
    position: absolute;
    background: rgba(225, 225, 225, 0.8);
    padding: 24px;

    bottom: 1em;
    right: 1em;

    border-radius: 16px;
    box-shadow: 2px 2px 2px;
}

#bottomTray h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 6px;
    font-weight: lighter;
    font-size: 20pt;
}

.box {
    display: inline-block;
    width: 45px;
    height: 45px;

    border-radius: 16px;
    box-shadow: 2px 2px 2px;

    cursor: pointer;
}

.box:hover {
    box-shadow: 0px 0px 2px;
}

/* Color Scheme: 
    http://paletton.com/#uid=c002P0u3i0ky3GMkcLrp+IlGdtTHlnc
 */
.box.red {
    background: #EE0000;
}
.box.orange {
    background: #EE6C00;
}
.box.blue {
    background: #008F8F;
}
.box.green {
    background: #00BF00;
}
.box.white {
    background: #FFF;
}
.box.purple {
    background: rgb(115, 0, 172);
}